<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin</title>

    <style>
        input{
            clear: both;
            margin: 3px;
            display: block;
        }
    </style>
</head>
<body>
    <h1>Thông tin file</h1>
    Đường dẫn: <input type="texterea" id = "txtDisplay" name="txtDisplay">
</body>
</html>