<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lấy thông tin</title>

    <style>
        input{
            clear: both;
            margin: 3px;
            display: block;
        }
    </style>
</head>
<body>
    <h1>Ứng dụng lấy link</h1>
    <form action="./getLink" method="POST">
        Nhập vào ID của file Youtube: <input type="text" id = "txtIdYou" name="txtIdYou">
        <br/>
        <input type="submit" value="Đăng ký">
    </form>
</body>
</html>